<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Password Manager - Reset Password</title>
	<link th:replace="~{Resources}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

	<style>
		body {
			background-color:#efefef;
		}
		
.navbar {
	background-color: #0b2c3d !important;
	color: #b69a53 !important;
}

.navbar a {
	color: #b69a53 !important;
}

.navbar a:hover {
	color: #fff !important;
}
html {
			scrollbar-width: thin;
			scrollbar-color: #c1d0db #1a1a3d !important;
		}

		body::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
	</style>
	<script>
		function togglePassword() {
			var password = document.getElementById("password");
			var confirmPassword = document.getElementById("Cpassword");
			var showPassword = document.getElementById("showPassword").checked;

			password.type = showPassword ? "text" : "password";
			confirmPassword.type = showPassword ? "text" : "password";
		}

		

		function checkPasswords() {
			var password = document.querySelector('input[name="password"]').value;
			var confirmPassword = document.querySelector('input[name="Cpassword"]').value;
			var message = document.getElementById('passwordMessage');

			if (message) {
				if (password === confirmPassword) {
					message.style.color = '';
					message.textContent = '';
				} else {
					message.style.color = 'red';
					message.textContent = 'Passwords do not match';
				}
			}
		}
	</script>
</head>

<body>
<nav class="navbar navbar-expand-lg mb-4">
		<div class="container-fluid">
			<a class="navbar-brand">Password Manager</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="nav-link "  aria-expanded="false">Update Password & Pin</a>
		</div>
	</nav>
	<div class="container mt-4">
		<div class="card">
			<article class="card-body">
				<h4 class="card-title text-center mb-4 mt-1">Password Manager</h4>
				<div class="row">
					<!-- Left Form -->
					<div class="col-md-6 border-right">
						<h6>Account Details:</h6>
						<form th:action="@{/Authentication/updatePasswordAndPinForUser}" th:method="post">
							<hr>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>First Name</label>
									<input required name="fname" class="form-control" disabled type="text"
										th:value="${resetFname}">
								</div>
								<div class="form-group col-md-6">
									<label>Last Name</label>
									<input required name="lname" class="form-control" disabled type="text"
										th:value="${resetLname}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>Your email</label>
									<input required name="email" class="form-control" disabled type="email"
										th:value="${resetMail}">
								</div>
								<div class="form-group col-md-6">
									<label>Phone Number</label>
									<input required name="phone" class="form-control" disabled type="number"
										th:value="${resetPhone}">
								</div>
							</div>
					</div>

					<div class="col-md-6">
						<h6>Update Password & Pin:</h6>
						<hr>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Your password</label>
								<input required class="form-control" placeholder="******" type="password"
									name="password" oninput="checkPasswords()" id="password">
							</div>
							<div class="form-group col-md-6">
								<label>Confirm password</label>
								<input required class="form-control" placeholder="******" type="password"
									name="Cpassword" oninput="checkPasswords()" id="Cpassword">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Security Pin</label> <input required class="form-control"
									oninput="checkPasswords()" placeholder="* * * *" type="number" name="pin" id="pin">
							</div>
							<div class="form-group col-md-6">
								<label>Confirm Pin</label> <input required class="form-control"
									oninput="checkPasswords()" placeholder="* * * *" type="number" name="cpin"
									id="cpin">
							</div>
						</div>
						<p id="passwordMessage"></p>

						<p>
							Show Passwords <input type="checkbox" id="showPassword" onclick="togglePassword()">
						</p>
						

						<div class="form-group col-md-6">
							<button type="submit" class="btn btn-outline-danger btn-block">Update Password &
								Pin</button>
						</div>
					</div>

					</form>
					<div class="form-row">
						<div class="form-group col-md-12">
							<p></p>
							<div class="alert alert-danger d-flex align-items-center" role="alert">
								<i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
									style="font-size: 1.5rem;"></i>
								<div> Hello Mr/Ms.<strong><span th:text="${resetFname}"></span> <span
											th:text="${resetLname}"></span>,</strong>
									You Can't Update/Reset Questions. <br>You Can Always Change Your Password But
									Personal Details Remains The Same.
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</body>
<footer th:replace="~{footer}"></footer>
</html>